<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccuSysCreator2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AccuSysCreator2.My.MySettings.AccuSysCreatorConnectionString"
            connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AccuSysCreator;Data Source=QCCSQL;Packet Size=4096;" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AccuSysCreator2.My.MySettings>
            <setting name="GraphicDisplayBackColor" serializeAs="String">
                <value>ControlDarkDark</value>
            </setting>
            <setting name="RemotePath" serializeAs="String">
                <value>\\Qccfile\accusysfiles\AutoUpdate</value>
            </setting>
            <setting name="ParmsXmlFile" serializeAs="String">
                <value>\\Qccfile\accusysfiles\common\SetupParms.xml</value>
            </setting>
            <setting name="JobofficeAsp1" serializeAs="String">
                <value>http://qccnt1/qccasp/joboffice.asp?mtext=</value>
            </setting>
            <setting name="JobofficeAsp2" serializeAs="String">
                <value>&amp;mtype=job&amp;mtime=current</value>
            </setting>
            <setting name="ShipweekCardURI1" serializeAs="String">
                <value>http://qccnt1/qccasp/shipweek.asp?mdate=</value>
            </setting>
            <setting name="ShipWeekCardURI2" serializeAs="String">
                <value>&amp;mtype=pcard&amp;schedule=mfg&amp;productline=1</value>
            </setting>
            <setting name="CsvFileDirectory" serializeAs="String">
                <value>\\Qccfile\accusysfiles\Jobdata</value>
            </setting>
            <setting name="CommonTemplateDirectory" serializeAs="String">
                <value>\\Qccfile\accusysfiles\Common\Templates</value>
            </setting>
            <setting name="ScheduleSearchStartOffset" serializeAs="String">
                <value>-10</value>
            </setting>
            <setting name="ScheduleSearchEndOffset" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="MaterialWasteFactor" serializeAs="String">
                <value>0</value>
            </setting>
        </AccuSysCreator2.My.MySettings>
    </userSettings>
</configuration>
